{
  "openapi": "3.1.0",
  "info": {
    "title": "AI.JOBS Public Discovery",
    "version": "0.1.0",
    "description": "Read-only discovery endpoints for AI.JOBS LLM and plugin clients."
  },
  "servers": [
    {
      "url": "https://aijobs.atlasnexus.tech"
    }
  ],
  "paths": {
    "/llms.txt": {
      "get": {
        "operationId": "getLlmsTxt",
        "summary": "Get the concise LLM discovery index.",
        "responses": {
          "200": {
            "description": "Markdown llms.txt document.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/llms-full.txt": {
      "get": {
        "operationId": "getLlmsFullTxt",
        "summary": "Get the expanded LLM discovery index.",
        "responses": {
          "200": {
            "description": "Expanded Markdown context for agents.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/.well-known/ai-plugin.json": {
      "get": {
        "operationId": "getAiPluginManifest",
        "summary": "Get the AI.JOBS AI plugin manifest.",
        "responses": {
          "200": {
            "description": "ChatGPT-compatible plugin manifest for public discovery.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/agent/manifest.json": {
      "get": {
        "operationId": "getAgentManifest",
        "summary": "Get the public agent capability manifest.",
        "responses": {
          "200": {
            "description": "JSON manifest describing agent-readable AI.JOBS API capabilities.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "/schemas/agent-manifest.schema.json"
                }
              }
            }
          }
        }
      }
    },
    "/schemas/agent-manifest.schema.json": {
      "get": {
        "operationId": "getAgentManifestSchema",
        "summary": "Get the JSON Schema for the agent capability manifest.",
        "responses": {
          "200": {
            "description": "JSON Schema document.",
            "content": {
              "application/schema+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    }
  }
}
